body {
    font: .875rem/1 Lato, sans-serif;
    color: #222;
}

.wrapper {
    margin: 1rem;
    display:flex;
}




table {
    border-collapse: collapse;
}
img.select-address-icon
{
    width: 18px;
    height: 18px;
}
.odd td {
    background-color: #eaeaea;
}

th {

    text-align: left;
    color: #000;
}
td{
    font-size: 12px;
}
.col_0 {

    width: 25px;
}

.col_1 {

    width: 220px;
}

.col_2 {

    width: 220px;
}

td {

    height: 30px;
    padding: 0 5px;
}

table a, table img {
    border: 0;
}

